<div class="container mt-3">
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ url_for('static', filename='profile_images/' + brother.profile_image) }}" class="card-img" alt="Profile Image" style="bborder-radius: 50%; margin: 20px; width: 100%; max-width: 300px; height: auto;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">{{ brother.full_name }}</h2>
                    <p class="card-text"><strong>Total SLAG Points:</strong> {{ total_points }}</p>
                    <p class="card-text"><strong>Pledge Class Year:</strong> {{ brother.pledge_class_year }}</p>
                    <p class="card-text"><strong>GPA:</strong> {{ brother.gpa }}</p>
                    <p class="card-text"><strong>Initiation Date:</strong> {{ brother.initiation_date.strftime('%B %d, %Y') }}</p>
                    <p class="card-text"><strong>Graduation Date:</strong> {{ brother.graduation_date.strftime('%B %d, %Y') }}</p>
                    <p class="card-text"><strong>Positions:</strong> {{ brother.positions }}</p>
                    <p class="card-text"><strong>Major Accomplishments:</strong> {{ brother.major_accomplishments }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card-img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    @media (max-width: 768px) {
        .card-title {
            font-size: 1.5rem;
        }
        .card-text {
            font-size: 1rem;
        }
        .card-img {
            margin: 10px auto;
        }
    }

    @media (max-width: 576px) {
        .card-title {
            font-size: 1.2rem;
        }
        .card-text {
            font-size: 0.9rem;
        }
        .card-img {
            margin: 10px auto;
        }
    }
</style>